@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.spacer{
    flex: 1 1 auto;
}

.icon{
    height: 100%;
    padding: 0;
    width: 10px;
}   