<div [ngClass]="theme">
  <mat-sidenav-container>

    <mat-sidenav #sidenaStart class="sidenav" position="start" [mode]="isMobile ?  'over':'side'" [opened]="!isMobile">
      <mat-toolbar class="sidenav-toolbar mat-elevation-z3">
        <mat-icon>code</mat-icon>
        <span class="text-logo">FACODE</span>
      </mat-toolbar>

      <facode-nav-list></facode-nav-list>
    </mat-sidenav>

    <mat-sidenav #sidenavEnd class="sidenav" position="end" mode="over">
      <span>Hola</span>
    </mat-sidenav>

    <mat-sidenav-content>

      <mat-toolbar>
        <mat-toolbar-row class="mat-elevation-z3">
          <button mat-button class="icon" (click)="sidenaStart.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>My App</span>
          <span class="spacer"></span>
          <facode-top-icons [themeDefault]="theme" [sidenavEnd]="sidenavEnd" (theme)="selectedTheme($event)"></facode-top-icons>
        </mat-toolbar-row>
      </mat-toolbar>

      <div class="content">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>